@(title: String)

@main(title) {

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            File Upload
            <small>Overview</small>
        </h1>
        <!--<ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-th"></i> File Upload</a></li>
            <li class="active">Overview
                <div id="description">Hello</div>
            </li>
        </ol>-->
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <div class="col-md-12 col-lg-8">
                <div class="box box-default">
                    <!--<div class="box-header with-border">
                        <i class="fa fa-warning"></i>
                        <h3 class="box-title">Alerts</h3>
                    </div>--><!-- /.box-header -->
                    <div class="box-body">
                        <!--<form name="form-data" id="form-data" enctype="multipart/form-data" method="post" action="javascript:;">
                            <div class="form-group">
                                <label for="file">File</label>
                                <input type="file" id="file" name="file">
                                <p class="help-block">Select file for upload.</p>
                            </div>
                            <button type="submit" class="btn btn-info">Upload</button>
                        </form>-->

                        @helper.form(action = routes.Application.upload, 'enctype -> "multipart/form-data") {

                        <input type="file" id="picture" name="picture">
                        <p><input type="submit" class="btn btn-primary"></p>

                        }
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div> <!-- /.row -->

    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

}

<script>
    //binds to onchange event of your input field
    $('#picture').bind('change', function() {

      //this.files[0].size gets the size of your file.
      var size = this.files[0].size
      var ext = $('#picture').val().split('.').pop().toLowerCase();
      if(ext != 'json') {
        alert("Allowed only json file")
        this.value = null;
      } else if(size > 1024*1024) {
        alert("Allowed file size exceeded. (Max. 1 MB)")
        //reset file upload control
        this.value = null;
      }

    });
</script>
