

html{
    font: 10px sans-serif;
    }

    svg{
    border: 1px solid silver;
    }

    .node{
    cursor: pointer;
    }

    .node circle{
    stroke: steelblue;
    stroke-width: 1.5px;
    }

    .link{
    fill: none;
    stroke: lightgray;
    stroke-width: 1.5px;
    }

.info-box-icon.custom {
    height: 60px;
    line-height: 60px;
}

.info-box.custom {
    min-height: 60px;
}
