@(cols: Array[String], dataMap: Array[Map[String, Any]])

<div class="box">
    <!--<div class="box-header bg-gray">
        <i class="fa fa-store"></i>
        <h3 class="box-title">Data</h3>
    </div>--><!-- /.box-header -->
    <div class="box-body bg-gray disabled no-padding">
        <div id="dataTableDiv" class="table-responsive">
            <table class="table table-condensed">
                <tr>
                    @cols.map { col =>
                    <th>@col.toUpperCase</th>
                    }
                </tr>
                @dataMap.map { row =>
                <tr>
                    @cols.map { col =>
                    <td>@row.get(col)</td>
                    }
                <tr>
                    }
            </table>
        </div>
    </div><!-- /.box-body -->
</div><!-- /.box -->