@(title: String, columns: List[String], filename: String, url: String)

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div id="myModal_body" class="modal-body">
                <form id="column_form" role="form">
                    <input type="hidden" name="filename" value="@filename">
                    @if(!columns.isEmpty) {
                        @columns.map { column =>
                            <div class="radio">
                                <label><input type="radio" name="column" value="@column">@column</label>
                            </div>
                      }
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</div>

<script language="text/javascript">

    $("#column_form").submit(function(event) {
      /* stop form from submitting normally */
      event.preventDefault();
      var value = $("#column_form input[type='radio']:checked").val();
      applyFunction("@url", value, "@filename")
    });
</script>