@(page: String)

<!-- BAR CHART -->
<div class="box box-default">
    <div class="box-header with-border">
        <i class="fa fa-pie-chart"></i>
        <h3 class="box-title">Company Report</h3>
    </div>
    <div class="box-body text-center">
        <div id="pieChartDiv" class="chart">
            <canvas id="pieChart" style="height:230px"></canvas>
        </div>
        <div id="pieChartLoadingDiv" class="chart" hidden >
            <img src='@routes.Assets.versioned("images/preloader.gif")' />
        </div>
    </div><!-- /.box-body -->
</div><!-- /.box -->