@(page: String)

<div class="box box-solid">
    <div class="box-header with-border">
        <i class="fa fa-star"></i>
        <h3 class="box-title">Functions</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="box-group" id="accordion">
            <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
            <div class="panel">
                <div class="box-header with-border">
                    <h4 class="box-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            DataFrame
                        </a>
                    </h4>
                    <small class="label pull-right bg-gray">org.apache.spark.sql.DataFrame</small>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="box-body">
                        <a onclick='applyFunction("@routes.SparkInAction.applyCollect");' class="btn btn-app">
                            <i class="fa fa-list"></i> Collect
                        </a>
                        <a onclick='applyFunction("@routes.SparkInAction.applyFilter");' class="btn btn-app">
                            <i class="fa fa-filter"></i> Filter
                        </a>
                        <a onclick='applyFunction("@routes.SparkInAction.applySort");' class="btn btn-app">
                            <i class="fa fa-list-ol"></i> Sort
                        </a>
                        <a onclick='applyFunction("@routes.SparkInAction.applyLimit");' class="btn btn-app">
                            <i class="fa fa-columns"></i> Limit
                        </a>
                        <a onclick='applyFunction("@routes.SparkInAction.applyAdd");' class="btn btn-app">
                            <i class="fa fa-edit"></i> Add
                        </a>
                        <a onclick='applyFunction("@routes.SparkInAction.applyDrop");' class="btn btn-app">
                            <i class="fa fa-remove"></i> Drop
                        </a>
                        <a onclick='applyFunction("@routes.SparkInAction.applyDistinct");' class="btn btn-app">
                            <i class="fa fa-eraser"></i> Distinct
                        </a>
                        <a onclick='applyFunction("@routes.SparkInAction.applyReplace");' class="btn btn-app">
                            <i class="fa fa-chain-broken"></i> Replace
                        </a>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="box-header with-border">
                    <h4 class="box-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            Dataset
                        </a>
                    </h4>
                    <small class="label pull-right bg-gray">org.apache.spark.sql.Dataset</small>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="box-body">
                        Working On It!
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.box-body -->
</div><!-- /.box -->