@(page: String, total: Long, current: Long, showing: Long, cols: Array[String], dataMap: Array[Map[String, Any]])

@main(page) {

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Explore Spark Visually
            <small>In Action</small>
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <div class="col-md-6 col-lg-8">
                <div class="row">
                    @data_count(total, current, showing)
                </div><!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">
                        @data_table(cols, dataMap)
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        @pie_chart(page)
                    </div>
                    <div class="col-lg-6">
                        @bar_chart(page)
                    </div>
                </div>
            </div><!-- /.col -->

            <div class="col-md-6 col-lg-4">
                <div class="row">
                    <div class="col-lg-12">
                        @spark_functions(page)
                    </div>
                    <div class="col-lg-12">
                        @fun_desc(page)
                    </div>
                </div>
            </div><!-- /.col -->
        </div> <!-- /.row -->
        <!-- END ALERTS AND CALLOUTS -->

    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

}
