@(title: String, cols: Array[String], dataMap: Array[Map[String, Any]])

@main(title) {

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Explore Spark Visually
            <small>In Action</small>
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <div class="col-md-6 col-lg-8">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="info-box custom">
                            <span class="info-box-icon custom bg-aqua"><i class="fa fa-archive"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Total</span>
                                <span class="info-box-number">1,410</span>
                            </div><!-- /.info-box-content -->
                        </div><!-- /.info-box -->
                    </div><!-- /.col -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="info-box custom">
                            <span class="info-box-icon custom bg-green"><i class="fa fa-flag-o"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Current</span>
                                <span class="info-box-number">410</span>
                            </div><!-- /.info-box-content -->
                        </div><!-- /.info-box -->
                    </div><!-- /.col -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="info-box custom">
                            <span class="info-box-icon custom bg-yellow"><i class="fa fa-tripadvisor"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Showing</span>
                                <span class="info-box-number">10</span>
                            </div><!-- /.info-box-content -->
                        </div><!-- /.info-box -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">
                        @data_table(cols, dataMap)
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        @fun_desc("home")
                    </div>
                    <div class="col-lg-6">
                        @bar_chart(title)
                    </div>
                </div>
            </div><!-- /.col -->

            <div class="col-md-6 col-lg-4">
                @spark_functions(title)
            </div><!-- /.col -->
        </div> <!-- /.row -->
        <!-- END ALERTS AND CALLOUTS -->

    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

}
