@(page: String)
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">Tutorials</li>
            <li class="active">
                <a href="@routes.SparkOverview.overview">
                    <i class="fa fa-th"></i> <span>Apache Spark™</span>
                </a>
            </li>
            <li>
                <a href="@routes.Application.uploadForm">
                    <i class="fa fa-th"></i> <span>File Upload</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-th"></i> <span>Architecture</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-th"></i> <span>Analytics</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-th"></i> <span>About</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>