@(funName: String)

<div class="box box-default">
    <div class="box-header with-border">
        <i class="fa fa-sticky-note"></i>
        <h3 class="box-title">Apply Function</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="callout bg-gray">
            <h4>Creating DataFrames</h4>
            <p>A DataFrame is a distributed collection of data, which is organized into named columns.
                Conceptually, it is equivalent to relational tables with good optimization techniques. A
                DataFrame can be constructed from an array of different sources such as Hive tables,
                Structured Data files, external databases, or existing RDDs. Here we are using JSON
                document named cars.json with the following content and generate a table based on the
                schema in the JSON document.</p>
        </div>
        <code lang="scala">
            def overview = Action {
            Ok(views.html.spark_overview("Your new application is ready."))
            }
        </code>
    </div><!-- /.box-body -->
</div><!-- /.box -->