@(page: String)

@isActive(name: String) = {
    @if(page.contains(name)) { active } else { }
}

<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">Tutorials</li>
            <li class='@isActive("UploadFile")'>
                <a href="@routes.UploadFile.file">
                    <i class="fa fa-upload" aria-hidden="true"></i>
                    <span>FileUpload</span>
                </a>
            </li>
            <li class='@isActive("Spark")'>
                <a href="@routes.SparkOverview.overview">
                    <i class="fa fa-star-o"></i> <span>Apache Spark</span>
                    <strong class="label pull-right bg-gray">1.6.0</strong>
                </a>
            </li>
            <!--<li>
                <a href="@routes.Application.uploadForm">
                    <i class="fa fa-th"></i> <span>File Upload</span>
                </a>
            </li>-->
            <li class='@isActive("Architecture")'>
                <a href="@routes.ArchitectureOverview.overview">
                    <i class="fa fa-cubes"></i> <span>Architecture</span>
                </a>
            </li>

            <li class='@isActive("About")'>
                <a href="#">
                    <i class="fa fa-eye"></i> <span>About</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>