@(title: String)

@main(title) {

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Apache Spark™
            <small>Overview</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-th"></i> Apache Spark™</a></li>
            <li class="active">Overview</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <div class="col-md-6 col-lg-8">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <i class="fa fa-warning"></i>
                        <h3 class="box-title">Alerts</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div id="tree"></div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->

            <div class="col-md-6 col-lg-4">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <i class="fa fa-bullhorn"></i>
                        <h3 class="box-title">Callouts</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <br><br><br><br><br><br><br><br><br>
                        <br><br><br><br><br><br><br><br><br>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div> <!-- /.row -->
        <!-- END ALERTS AND CALLOUTS -->

    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

}
