@(title: String, cols: Array[String], dataMap: Array[Map[String, Any]])

@main(title) {

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Apache Spark™
            <small>In Action</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-th"></i> Apache Spark™</a></li>
            <li class="active">In Action</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <div class="col-md-6 col-lg-8">
                <div class="row">
                    <div class="col-lg-12">
                        @data_table(cols, dataMap)
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        @fun_desc("home")
                    </div>
                    <div class="col-lg-6">
                        @bar_chart(title)
                    </div>
                </div>
            </div><!-- /.col -->

            <div class="col-md-6 col-lg-4">
                @spark_functions(title)
            </div><!-- /.col -->
        </div> <!-- /.row -->
        <!-- END ALERTS AND CALLOUTS -->

    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

}
