@(title: String)

@main(title) {

<!-- Content Wrapper. Contains page content -->
<div id="spark_overview" class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Architecture
            <small>Overview</small>
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <div class="col-md-6 col-lg-7">
                <div class="box box-default">
                    <div class="box-body">
                        <div class="embed-responsive embed-responsive-16by9">
                            <video loop class="embed-responsive-item" autoplay src='@routes.Assets.versioned("videos/arch_video_1.mp4")'></video>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->

            <div class="col-md-6 col-lg-5">
                <div class="box box-default">
                    <div class="box-body">
                        <img src='@routes.Assets.versioned("images/architecture_2.png")' class="img-responsive" />
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
                <div class="box box-default">
                    <div class="box-body">
                        <img src='@routes.Assets.versioned("images/architecture_1.png")' class="img-responsive" />
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div> <!-- /.row -->

    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

}
